<%= image_tag(@product.picture, width: '200') %>
<h2><%= @product.name %> ($<%= @product.price.round(0) %>)</h2>
<p><%= @product.description %></p>
<p>Categories:</p>

<ul>
	<% @product.categories.each do |p| %>
		<li><%= p.name %></li>
	<% end %>
</ul>
<ul class="nav navbar-nav btn-ul">
	<li class="btn-li"><%= button_to "Edit", {action: 'edit', id: @product.id }, method: :get, class: 'btn btn-large btn-default' %>
	<li class="btn-li"><%= button_to "Delete", {action: "destroy", id: @product }, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-large btn-danger' %>
</ul>